@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/PTSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/PTSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/PTSansNarrow-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/PTMono-Regular.woff2") format("woff2");
}

body {
  margin: 0;
}
